---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<p>this is a demo for a reused user pool, but new user pool client, identity pool, and roles</p>
		<a href="/one">app-one</a>
		<a href="/two">app-two</a>
	</body>
</html>
